.navbar .btn-outline-light:hover{
    color: var(--bs-dark);
}

.navbar-sticky{
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.navbar{
    transition: all 0.5s ease-in-out;
    
}
@media(max-width:992px)
{
    #navbarNavDropdown{
        background:rgba(var(--bs-dark-rgb));
        border-radius: 1em;
        padding: 1em;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        margin: 1em;
    }
}

header{
 background: url(../images/header-background.jpg) center center no-repeat;
 background-size: cover;   
}
.modal-dialog{
   --bs-modal-width: 1040px;
}

.downloads{
    background: url(../images/download-background.jpg) center center no-repeat;
 background-size: cover;   
}
@media(max-width:1000px){
    .hero .image-container{
        display: flex;
        justify-content: center;
    }
    .hero .text-container{
        text-align: center;
    }
    
}

.map iframe{
    width: 100%;
    left: 0;
    top: 0;
    height: 400px;
    border:none;
}
